@model VFS.Common.Models.Masters.NationalityMap

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>NationalityMap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <select asp-for="NationalityId" class ="form-control" asp-items="ViewBag.NationalityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mission" class="control-label"></label>
                <select asp-for="MissionId" class ="form-control" asp-items="ViewBag.MissionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CountryOps" class="control-label">Country of Operation</label>
                <select asp-for="CountryOpsId" class ="form-control" asp-items="ViewBag.CountryOpsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UnitOpsId" class="control-label">VAC</label>
                <select asp-for="UnitOpsId" class ="form-control" asp-items="ViewBag.UnitOpsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
